.chat{
    margin-left: 70px;
    margin-top: 50px;
}
.chat h2{
    font-size: 30px;
    font-weight: 700    ;
}
.chat ul {
    list-style-type: none;
    
}
.chat ul li{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    width: 275px;

}

.chat textarea{
    color: green;
    margin: 20px 0px 0px;
    width: 323px;
    height: 45px;
    resize: none;
    border: none;
    overflow: hidden;
    font-size: 20px;
    font-weight: 400;
    outline: none;
    background:none
    
}